.weather-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	animation: fadeIn 1s ease-out;
}

.weather-container > p {
	margin: 0;
	font-weight: 100;
}

.city {
	font-size: 25px;
	margin-top: 25px !important;
}

.description {	
	text-transform: capitalize;
	font-size: 20px;
}

.temperature {
	font-size: 60px;
	text-indent: 8px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}